<div class="row-customs">
    <div class="grid-tile">
        <div class="tile-box">
            <a href="#">
            <div class="tile-image" style="background-image: url(https://cdn11.bigcommerce.com/s-zecuvc6ncl/product_images/uploaded_images/safe-drive.jpg);">
                <img alt="Safe drive" src="https://cdn11.bigcommerce.com/s-zecuvc6ncl/product_images/uploaded_images/safe-drive.jpg">
                <div class="tile-title">
                    <h3>safe drive</h3>
                    <p>lenses</p>
                </div>
            </div></a>
        </div>
        <div class="tile-box">
            <a href="#">
            <div class="tile-image" style="background-image: url(https://cdn11.bigcommerce.com/s-zecuvc6ncl/product_images/uploaded_images/hard-coat-protect.jpg);">
                <img alt="Hard protect" src="https://cdn11.bigcommerce.com/s-zecuvc6ncl/product_images/uploaded_images/hard-coat-protect.jpg">
                <div class="tile-title">
                    <h3>hard coat protect</h3>
                    <p>lenses</p>
                </div>
            </div></a>
        </div>
        <div class="tile-box">
            <a href="#">
            <div class="tile-image" style="background-image: url(https://cdn11.bigcommerce.com/s-zecuvc6ncl/product_images/uploaded_images/anti-glare.jpg);">
                <img alt="Anti glare" src="https://cdn11.bigcommerce.com/s-zecuvc6ncl/product_images/uploaded_images/anti-glare.jpg">
                <div class="tile-title">
                    <h3>anti glare easy clean</h3>
                    <p>lenses</p>
                </div>
            </div></a>
        </div>
    </div>
</div>