<style>
     .container {
      margin-left: auto;
      margin-right: auto;
      max-width: layout("max") + ($container-padding * 4);
      padding: 0 $container-padding;
      position: relative;
      width: layout("fixed");
     }

     .product-advertising-list {
              display: flex;
              flex-direction: column;
              padding: 30px 0;
              margin: 0;
              list-style: none;
              gap: 25px;
     }

     .product-advertising-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              height: 250px;
              padding: 64px 22px;

              background: rgba(34, 34, 34, 0.9);
              background-repeat: no-repeat;
              background-position: center;
  }

     .product-advertising-item:nth-child(1) {
     background-image: linear-gradient(to right, rgba(34, 34, 34, 0.55), rgba(34, 34, 34, 0.55)),
                      url("https://cdn11.bigcommerce.com/s-10vcve1tal/product_images/uploaded_images/shag-oil.png?t=1640699817");
  }

     .product-advertising-item:nth-child(2) {
     background-image: linear-gradient(to right, rgba(34, 34, 34, 0.55), rgba(34, 34, 34, 0.55)),
                      url("https://cdn11.bigcommerce.com/s-10vcve1tal/product_images/uploaded_images/motors.png?t=1640699818");
  }

     .product-advertising-item:nth-child(3) {
     background-image: linear-gradient(to right, rgba(34, 34, 34, 0.55), rgba(34, 34, 34, 0.55)),
                      url("https://cdn11.bigcommerce.com/s-10vcve1tal/product_images/uploaded_images/carbody.png?t=1640699819");
  }

     .product-advertising-title-{{_.id}} {
              margin: 0;
              font-weight: {{fontWeight}};
              font-size: {{fontSize.value}}{{fontSize.type}};
              font-family:{{fontFamily}};
              line-height: 1.11;
              text-align: center;
              color: {{fontColor}};
  }

     .product-advertising-list .hero-link-wrapper {
          position: relative;
          display: flex;
          justify-content: center;
          width: 130px;
          height: 45px;
  }

     .product-advertising-list .hero-link-wrapper::before {
     content: "";
     position: absolute;

     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 0;
     background: #db1e22;
     transform: skew(-20deg);
  }

     .product-advertising-list .hero-link-{{_.id}} {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 130px;

          height: 45px;
          padding:0;

          font-size: {{fontSizeLink.value}}{{fontSizeLink.type}};
          font-weight: {{fontWeightLink}};
          font-family:{{fontFamilyLink}};
          line-height: 2.53;
          color: {{fontColorLink}};
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;

          background-color: transparent;
  }

  @media (min-width: 801px) {
     .product-advertising-list {
        flex-direction: row;
        padding: 50px 0;
     }

     .product-advertising-item {
        width: 370px;
        height: 350px;
        padding: 94px 42px 57px;
     }

     .product-advertising-title-{{_.id}} {
        font-size: {{fontSize.value}}{{fontSize.type}};
        line-height: 1.18;
     }
  }

  @media (min-width: 1261px) {
     .container {
        padding: 0 ($container-padding * 4);
     }

     .product-advertising-item {
        padding: 114px 60px 87px;
     }

     .product-advertising-item:nth-child(1) {
        background-image: linear-gradient(to right, rgba(34, 34, 34, 0.55), rgba(34, 34, 34, 0.55)),
                          url("https://cdn11.bigcommerce.com/s-10vcve1tal/product_images/uploaded_images/oil-desk.png?t=1640709473");
     }

     .product-advertising-item:nth-child(2) {
        background-image: linear-gradient(to right, rgba(34, 34, 34, 0.55), rgba(34, 34, 34, 0.55)),
                          url("https://cdn11.bigcommerce.com/s-10vcve1tal/product_images/uploaded_images/motor-desk.png?t=1640709365");
     }

     .product-advertising-item:nth-child(3) {
        background-image: linear-gradient(to right, rgba(34, 34, 34, 0.55), rgba(34, 34, 34, 0.55)),
                          url("https://cdn11.bigcommerce.com/s-10vcve1tal/product_images/uploaded_images/body-desk.png?t=1640709365");
     }

     .product-advertising-list .hero-link-wrapper {
        width: 170px;
     }
  }
</style>

<div class="container">
  <ul class="product-advertising-list">
    <li class="product-advertising-item">
      <p class="product-advertising-title-{{_.id}}">{{title1}}</p>
      <span class="hero-link-wrapper">
        <a class="hero-link-{{_.id}}" href="{{link1}}">{{buttonText1}}</a>
      </span>
    </li>

    <li class="product-advertising-item">
      <p class="product-advertising-title-{{_.id}}">{{title2}}</p>
      <span class="hero-link-wrapper">
        <a class="hero-link-{{_.id}}" href="{{link2}}">{{buttonText2}}</a>
      </span>
    </li>

    <li class="product-advertising-item">
      <p class="product-advertising-title-{{_.id}}">{{title3}}</p>
      <span class="hero-link-wrapper">
        <a class="hero-link-{{_.id}}" href="{{link3}}">{{buttonText3}}</a>
      </span>
    </li>
  </ul>
</div>
