<style>
    .feature-block {
     display: flex;
     justify-content: space-between;
     padding: 35px 5px;
     text-align: center;
  }
   .feature-block .feature-item {
     padding: 5px;
  }

  .feature-block .quality .title {
     color: {{qualityTitleColor}};
     font-size: {{qualityTitleFontSize.value}}{{qualityTitleFontSize.type}};
     line-height: {{qualityTitleLineHeight.value}}{{qualityTitleLineHeight.type}};
     font-weight: 600;
  }

  .feature-block .quality .description {
     color: {{qualityDescriptionColor}};
     font-size: {{qualityDescriptionFontSize.value}}{{qualityDescriptionFontSize.type}};
     line-height: {{qualityDescriptionLineHeight.value}}{{qualityDescriptionLineHeight.type}};
     font-weight: 500;
  }

  .feature-block .warranty .title {
     color: {{warrantyTitleColor}};
     font-size: {{warrantyTitleFontSize.value}}{{warrantyTitleFontSize.type}};
     line-height: {{warrantyTitleLineHeight.value}}{{warrantyTitleLineHeight.type}};
     font-weight: 600;
  }

  .feature-block .warranty .description {
     color: {{warrantyDescriptionColor}};
     font-size: {{warrantyDescriptionFontSize.value}}{{warrantyDescriptionFontSize.type}};
     line-height: {{warrantyDescriptionLineHeight.value}}{{warrantyDescriptionLineHeight.type}};
     font-weight: 500;
  }

  .feature-block .shipping .title {
     color: {{shippingTitleColor}};
     font-size: {{shippingTitleFontSize.value}}{{shippingTitleFontSize.type}};
     line-height: {{shippingTitleLineHeight.value}}{{shippingTitleLineHeight.type}};
     font-weight: 600;
  }

  .feature-block .shipping .description {
     color: {{shippingDescriptionColor}};
     font-size: {{shippingDescriptionFontSize.value}}{{shippingDescriptionFontSize.type}};
     line-height: {{shippingDescriptionLineHeight.value}}{{shippingDescriptionLineHeight.type}};
     font-weight: 500;
  }

  .feature-block .support .title {
     color: {{supportTitleColor}};
     font-size: {{supportTitleFontSize.value}}{{supportTitleFontSize.type}};
     line-height: {{supportTitleLineHeight.value}}{{supportTitleLineHeight.type}};
     font-weight: 600;
  }

  .feature-block .support .description {
     color: {{supportDescriptionColor}};
     font-size: {{supportDescriptionFontSize.value}}{{supportDescriptionFontSize.type}};
     line-height: {{supportDescriptionLineHeight.value}}{{supportDescriptionLineHeight.type}};
     font-weight: 500;
  }

  .feature-block .feature-item{
    width: 100%
  }

   .feature-block .feature-item img {
     margin-bottom: 10px;
     max-width: 25%;
  }
</style>

<div class="feature-block">
  <div class="feature-item quality">
    <img src="{{quality.src}}" alt="{{quality.alt}}" />
    <div class="text">
      <span class="title">{{qualityTitle}}</span>
      <br />
      <span class="description">{{qualityDescription}}</span>
    </div>
  </div>

  <div class="feature-item warranty">
    <img src="{{warranty.src}}" alt="{{warranty.alt}}" />
    <div class="text">
      <span class="title">{{warrantyTitle}}</span>
      <br />
      <span class="description">{{warrantyDescription}}</span>
    </div>
  </div>

  <div class="feature-item shipping">
    <img src="{{shipping.src}}" alt="{{shipping.alt}}" />
    <div class="text">
      <span class="title">{{shippingTitle}}</span>
      <br />
      <span class="description">{{shippingDescription}}</span>
    </div>
  </div>

  <div class="feature-item support">
    <img src="{{support.src}}" alt="{{support.alt}}" />
    <div class="text">
      <span class="title">{{supportTitle}}</span>
      <br />
      <span class="description">{{supportDescription}}</span>
    </div>
  </div>
</div>
