<div id="timer">
    <div class="row-wrap">
        <div class="realative-wrap">
            <div class="timer">
                <div class="title__timer">Order in time to recieve your items tommorow via next day delivery!</div>
                <div id="rootMy">
                    <div id="day">
                    </div>
                    <div id="hours">
                    </div>
                    <div id="minuts">
                    </div>
                    <div id="seconds">
                    </div>
                </div>
                <div class="close-timer">
                    <div class="close-icon">&#x2715</div>
                </div>
            </div>
        </div>
    </div>
</div>