<style>
    .arrow_up{ 
        position: fixed; 
        bottom: 0; 
        left: 50%; 
        transform: translateX(-50%); 
        font-size: 27px; 
        padding: 10px 15px; 
        color: #fff; 
        background-color: #1B1E1F; 
        cursor: pointer; }
</style>
<div class="arrow_up" id="scrollUp">
    ⮝
</div>
<script type="text/javascript">
    window.onscroll = (event) => { 
        if (window.pageYOffset === 0) { 
            scrollUp.style.display="none" 
        }else{ scrollUp.style.display="block" } 
    };
    scrollUp.onclick = () => { 
        window.scrollTo( { top: 0, behavior: "smooth" }) 
    }
</script>