<div id="brendPrt">
    <div class="brend-part">
        <div class="brend-title">
            <h3>Shop by brand</h3>
        </div>
        <div class="grid-brand">
            {{#each categories}}
                {{#if name '==' 'All Ink Cartidges'}}
                    {{#each (limit children 4)}}
                        <div class="brend-box">
                            <a href="{{this.url}}" target="_blank">
                                <div class="barand-img-box" style="background-image: url({{getImage image 'category_card_size'}});">
                                    <img src="{{getImage image 'category_card_size'}}" alt="{{this.image.alt}}">
                                </div>
                            </a>
                        </div>
                    {{/each}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>